traps/
traps2/

__pycache__/
**/__pycache__
data/.DS_Store/
classes_car.txt
data_full/
.idea/
.venv/
.vscode/
weights_cars/
data_cars/
weights/classification/resnet18.pt
table.csv
table_agg.csv
table_final.csv

*.sqlite
test_data_Minprirodi/.DS_Store
test_data_Minprirodi/photo_dt.csv
logs/log.txt
